@model List<SelectListItem>

@{
    ViewData["Title"] = "Rating";
}

<h2>Rating</h2>
<h4>@ViewBag.text</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Conclusion" method="post">
            <div class="form-group">
                @foreach (SelectListItem item in Model)
                {
                    <input type="radio" name="Rating" value="@Html.DisplayFor(model => item.Value)">@item.Text <br />

                }

            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-action="Index">Start over</a>
                <input type="submit" value="Conclusion" class="btn btn-success" />

            </div>
        </form>
    </div>
</div>
