
@{
    ViewData["Title"] = "Form3";
}

<h2>Form3</h2>

<form action="/Home/Form4" method="get">
    <input id="textexempel" name="textexempel" type="text" value="" />
    <input type="submit" value="Skicka in" class="btn-primary" />
</form>