
@model Demo3_1.Models.Item


@{
    ViewData["Title"] = "Index3";
}

<h2>Index3</h2>

<p>
    Detta är modellen <br />
    Id: @Model.Id <br />
    Namn: @Model.Name
</p>


<p>@ViewBag.jsonstring</p>